.kolo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
}
.content {
  width: 1000px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.box {
  width: 100%;
  height: 100vh;
  background-color: aquamarine;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.paint {
  font-size: 16px;
  color: white;
  background-color: darkblue;
  border-radius: 20px;
  height: 100px;
  width: 150px;
}
