.top {
  font-size: 36px;
  width: 100%;
  height: 200px;
  text-align: center;
  color: brown;
  background-color: blueviolet;
}
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 100px;
  font-size: 36px;
  text-align: center;
  color: brown;
  background-color: aqua;
}
.page {
  gap: 20px;
  margin: 20px;
  display: flex;
}
.content {
  font-size: 36px;
  width: 70%;
  background-color: aquamarine;
  text-align: center;
  border-radius: 20px;
}
.headerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  width: 60%;
  margin: 25px auto;
  text-align: center;
  height: 100px;
  background-color: blueviolet;
}
.article {
  font-size: 36px;
  background-color: aquamarine;
  text-align: center;
}
.article2 {
  margin-top: 20px;
  background-color: cornflowerblue;
}
.headerArticle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  margin: 25px auto;
  text-align: center;
  height: 100px;
  background-color: blueviolet;
}
.headerArticle2 {
  background-color: blueviolet;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text2 {
  display: flex;
  height: 200px;
  align-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  background-color: crimson;
}
.text3 {
  height: 100px;
  background-color: crimson;
  display: flex;
  align-items: center;
}
.rightSection {
  text-align: center;
  font-size: 36px;
  background-color: cyan;
  width: 30%;
  border-radius: 20px;
}
.footer2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}
.rightHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 10px;
  background-color: blueviolet;
}
.rightNav {
  height: 600px;
  background-color: brown;
  margin: 20px;
}
.footer {
  background-color: chocolate;
}
.downFooter {
  width: 100%;
  height: 150px;
  background-color: darkorange;
  font-size: 36px;
  text-align: center;
}
