#content {
  width: 1800px;
  height: 920px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
#card {
  display: flex;
  /* overflow: hidden; */
  flex-wrap: wrap;
  gap: 15px;
}
#card > div {
  padding: 10px;
  width: 18%;
  height: 50%;
  background-color: crimson;
  border: 2px solid black;
}
.slider-prev {
  width: 100px;
  height: 50px;
  background-color: blue;
}
.slider-next {
  width: 100px;
  height: 50px;
  background-color: red;
}
