#header {
  text-align: center;
  font-size: 64px;
  margin-bottom: 40px;
}
#content {
  font-size: 36px;
  text-align: center;
  margin-bottom: 40px;
}
#footer {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}
#date {
  font-size: 26px;
  text-align: right;
}
