.form {
  margin-bottom: 50px;
}
#test {
  width: 250px;
  height: 30px;
  font-size: 20px;
}
.focus {
  background-color: red;
}
.focus2 {
  background-color: yellow;
}
.focus3 {
  outline: 3px solid green;
}
.blur {
  background-color: green;
}
.blur2 {
  background-color: greenyellow;
}
.erorr {
  background-color: red;
}
#output {
  text-align: center;
  width: 75px;
  height: 25px;
  font-size: 20px;
  border: 1px solid black;
}
.form2 {
  margin-top: 50px;
  margin-bottom: 50px;
}
#test2 {
  width: 250px;
  height: 25px;
  font-size: 20px;
}
.num {
  margin-top: 50px;
}
#number {
  width: 350px;
  height: 40px;
  font-size: 25px;
}
.num > span {
  background-color: yellow;
  font-size: 25px;
}
#button {
  font-size: 20px;
  width: 50px;
  height: 40px;
}
.buttFocus {
  background-color: green;
}
.err {
  border: 3px solid red;
}
