.head-page {
  width: 1440px;
  padding: 0;
  margin: 0 auto;
}
header {
  margin-top: 25px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
}
.nav_items {
  width: 480px;
  display: flex;
  justify-content: space-between;
}
.nav_items li {
  list-style: none;
}
.nav_items a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.search > input {
  font-size: 15px;
  width: 280px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50px;
}
.fon_page {
  margin-top: 25px;
  width: 1440px;
  display: flex;
  justify-content: space-around;
  height: 80vh;
  align-items: center;
}
.left {
  margin-left: 60px;
}
.left h1 {
  font-size: 65px;
}
.left h2 {
  font-size: 24px;
}
.left button {
  width: 240px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}
.right {
  margin-right: 50px;
}
/* TGIF, INLET, AND MARCHAL'S COLLECTIONS */
.page2 {
  width: 1440px;
  height: 745px;
  background-color: #f1f1f1;
}
.page2 h2 {
  font-size: 36px;
  text-align: center;
  padding-top: 70px;
}
.page2 > div {
  font-size: 64px;
  text-align: center;
}
.cards {
  margin-top: 25px;
  display: flex;
  justify-content: space-evenly;
  gap: 40px;
}
.card-sale {
  width: 280px;
  height: 415px;
  background-color: #ffffff;
  padding-top: 35px;
}
.card-sale img {
  width: 200px;
  max-height: 170px;
}
.name-product {
  font-size: 24px;
  height: 40px;
}
.price {
  font-size: 18px;
}

/* .card-2 {
  width: 280px;
  height: 415px;
  background-color: #ffffff;
  padding-top: 35px;
}
.card-3 {
  width: 280px;
  height: 415px;
  background-color: #ffffff;
  padding-top: 35px;
}
.card-4 {
  width: 280px;
  height: 415px;
  background-color: #ffffff;
  padding-top: 35px;
} */
.btn-add {
  width: 135px;
  height: 35px;
  font-size: 14px;
  background-color: #a04955;
  color: #ffffff;
  cursor: pointer;
}
/* page 3 */
.page3 {
  width: 1440px;
  height: 745px;
  display: flex;
  margin-top: 35px;
}
.right-page3,
.left-page3 {
  margin: 35px;
}

.page3 h2 {
  font-size: 64px;
}
.page3 p {
  font-size: 24px;
}
.page3 button {
  width: 240px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}
/* scrol 4 */
.scrol4 {
  width: 1440px;
  height: 830px;
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 60px;
}
.rectangle {
  width: 550px;
  height: 86px;
  position: relative;
  top: -90px;
  background-color: rgba(160, 73, 85, 0.6);
  color: #ffffff;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text-scrol4 {
  text-align: center;
  font-size: 24px;
  width: 494px;
  height: 132px;
  margin-top: -50px;
}
.scrol4 button {
  margin-top: 30px;
  width: 370px;
  height: 48px;
  font-size: 24px;
  cursor: pointer;
}
/* scrol 5 */
.scrol5 {
  width: 1440px;
  /* height: 570px; */
  background-image: url("../img/Rectangle 15 fon.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 85%;
}
.content h2 {
  color: #ffffff;
  font-size: 64px;
}
.content p {
  color: #ffffff;
  width: 446px;
  font-size: 24px;
}
.content button {
  margin-top: 10px;
  width: 400px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
}
.content {
  width: 625px;
  padding: 20px 120px;
}
/* scrol 6 */
.scrol6 {
  width: 1440px;
  height: 760px;
}
.text-h2 {
  font-size: 65px;
  color: #ffffff;
  position: absolute;
  padding-top: 30px;
}
.content-scrol6 {
  margin: 35px auto;
  width: 1200px;
  height: 335px;
  background-color: #a04955;
  display: flex;
  justify-content: space-around;
}
.card {
  margin-top: 180px;
  width: 315px;
  height: 353px;
  border: 1px solid #a04955;
  background-color: #ffffff;
  text-align: center;
}
.name-cards {
  font-size: 24px;
}
.img1 {
  margin-top: -35px;
}
.img2 {
  margin-top: 20px;
}
.img3 {
  width: 214px;
  margin-top: -10px;
}
.content-scrol6 button {
  margin-top: 20px;
  width: 242px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
}
/* scrol7 */
.scrol7 {
  width: 1440px;
  height: 540px;
  position: relative;
  margin-top: 60px;
}
.img-scrol7 {
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  top: -190px;
}
.img-scrol7 img {
  width: 350px;
}
.content-scrol7 {
  width: 1200px;
  height: 360px;
  padding-top: 124px;
  background-color: #f3f3f3;
  margin: 0 auto;
  text-align: center;
}
.content-scrol7 h2 {
  font-size: 65px;
}
.content-scrol7 p {
  font-size: 24px;
}
.content-scrol7 button {
  margin-top: 20px;
  width: 260px;
  height: 55px;
  font-size: 24px;
  cursor: pointer;
}
/* footer */
.footer {
  width: 1440px;
  height: 420px;
  background-color: #a04955;
}
.scroling {
  position: fixed;
  bottom: 160px;
  right: 160px;
}

/* LOADER CSS */
.hide-loader {
  display: none !important;
}
.loader-box {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(38, 38, 128, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
