body {
  margin: 0;
  padding: 0;
}
#card {
  width: 1400px;
  height: 920px;
  display: flex;
}
#content {
  display: flex;
  flex-wrap: wrap;
}
#content > div {
  padding: 10px;
  width: 18%;
  background-color: gray;
  border: 2px solid black;
}
.photos > img {
  width: 250px;
}
.planets > img {
  width: 250px;
}
.save {
  margin-top: 10px;
  border-radius: 20px;
  height: 30px;
  width: 100px;
  background-color: limegreen;
}
