body {
  margin: 0;
  padding: 0;
}
.pageRegistr {
  width: 1440px;
  height: 1024px;
  background-color: #001124;
  display: flex;
  justify-content: space-around;
}
.img {
  margin-top: 100px;
  width: 400px;
  height: 700px;
}
.form {
  margin-top: 100px;
  width: 340px;
  height: 370px;
  color: #fff;
}
.registForm {
  font-size: 40px;
  color: #fff;
}
input {
  width: 340px;
  height: 40px;
  font-size: 20px;
}
.btnSub {
  width: 180px;
  height: 43px;
  background-color: #015fc7;
  margin: 40px 83px;
  font-size: 20px;
  color: #fff;
  border-radius: 5px;
}
.name,
.birth,
.parents,
.mail,
.mob,
.pass,
.pass2,
.homeNum {
  font-size: 20px;
  padding-bottom: 2px;
  padding-top: 10px;
}
