.div {
  margin: 150px;
}
#container-stopwatch {
  width: fit-content;
  padding: 1rem;
  text-align: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px black;
  background: black;
}
#stopwatch-display {
  background: rgba(22, 97, 12, 0.5);
  padding: 1.5rem;
  font-weight: bold;
  box-sizing: border-box;
  font-size: 2rem;
  margin-bottom: 1rem;
}
#stopwatch-display span {
  font-size: 2rem;
}
#startButton,
#stopButton,
#resetButton {
  text-transform: uppercase;
  color: white;
  background: rgba(0, 0, 0, 0.829);
  border: none;
  cursor: grab;
}
#stopwatch-control button:nth-child(2) {
  margin: 0 0.5rem;
}
.slider {
  max-width: 80%;
  border: 2px solid black;
  margin: 20px auto;
  overflow: hidden;
}
.slider-line {
  display: flex;
  position: relative;
  background-color: orangered;
  transition: all ease-out 1s;
}

.save {
  width: 150px;
  height: 50px;
  font-size: 30px;
  background-color: blue;
  border-radius: 25px;
  color: black;
}
.phone {
  font-size: 24px;
  width: 200px;
  height: 50px;
}
