.page {
  margin: 35px auto;
  width: 1600px;
  display: flex;
  border: 2px solid black;
  height: 720px;
  background-color: aqua;
  justify-content: center;
  align-items: center;
}
.textArea {
  width: 770px;
  height: 664px;
  background-color: brown;
  font-size: 24px;
}
.result {
  width: 770px;
  height: 670px;
  background-color: blueviolet;
  font-size: 24px;
}
