body {
  margin: 0;
  padding: 0;
}
.pageLogin {
  width: 1440px;
  height: 1024px;
  background-color: #001124;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img {
  width: 700px;
  height: 550px;
}
.form {
  width: 340px;
  height: 370px;
}
.log {
  font-size: 45px;
  color: #fff;
}
.mail {
  font-size: 20px;
  color: #fff;
}
.pass {
  font-size: 20px;
  color: #fff;
  margin-top: 15px;
}
input {
  width: 340px;
  height: 40px;
  font-size: 20px;
}
.text {
  margin-top: 30px;
  color: #fff;
}
.text2 {
  padding: 5px;
}
.btnLogin {
  width: 180px;
  height: 43px;
  background-color: #015fc7;
  margin-top: 20px;
  font-size: 20px;
  color: #fff;
}
.error {
  font-size: 20px;
  color: red;
}
